<header class="header">
  <div class="website-name">Personal Workout Tracker</div>
  <div class="nav-bar">
    <a href="/">
      <div class="nav-bar-item">Home</div>
    </a>

    <a href="/workout">
      <div class="nav-bar-item">Workouts</div>
    </a>

    <a href="/history">
      <div class="nav-bar-item">History</div>
    </a>

    <a href="/profile">
      <div class="nav-bar-item">Profile</div>
    </a>

    <% if (locals.isAuth) { %>
      <a href="/logout">
        <div class="nav-bar-item">Logout</div>
      </a>
    <% } %>
  </div>
</header>
