<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="styles/header-styles.css" />
    <link rel="stylesheet" href="styles/review-animation.css" />
  </head>
  <body>
    <header class="header">
      <div class="website-name">Personal Workout Tracker</div>
      <div class="nav-bar">
        <a href="/">
          <div class="nav-bar-item">Home</div>
        </a>

        <a href="/workout">
          <div class="nav-bar-item">Workouts</div>
        </a>

        <a href="/history">
          <div class="nav-bar-item">History</div>
        </a>

        <a href="/profile">
          <div class="nav-bar-item">Profile</div>
        </a>
      </div>
    </header>

    <div class="animation-body">
      <h1 class="reveal-text">
        Review your workouts using AI. Feature coming soon...
      </h1>
    </div>
  </body>
</html>
