<!DOCTYPE html>
<html>
  <head>
    <title>Workouts Page</title>

    <link rel="stylesheet" href="styles/header-styles.css" />
  </head>

  <body>
    <div class="header">
      <div class="website-name">Personal Workout Tracker</div>
      <div class="nav-bar">
        <a href="/">
          <div class="nav-bar-item">Home</div>
        </a>

        <a href="/workout">
          <div class="nav-bar-item">Workouts</div>
        </a>

        <a href="/history">
          <div class="nav-bar-item">History</div>
        </a>

        <a href="/profile">
          <div class="nav-bar-item">Profile</div>
        </a>
      </div>
    </div>

    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: antiquewhite;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
      "
    >
      <p style="text-decoration: underline">Frequency of your workouts:</p>
      <ul class="js-fav-workouts"></ul>
      <p style="text-decoration: underline">Get Workout Suggestions using AI</p>
      <ol>
        <li>Get Personalized Workout Suggestions</li>
        <li>Make Weekly Workout Schedules</li>
        <li>Review Your Workouts</li>
      </ol>
    </div>

    <script type="module" src="scripts/workout.js"></script>
  </body>
</html>
