.history-body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-text {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

.workout-history {
    list-style: none;
    margin: 2rem auto;
    max-width: 60rem;
    font-size: 18px;
 
}

.no-workouts-message {
  text-align: center;
  font-size: 25px;
}

.workout-history-of-day {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(234, 238, 242);

}

.workout-date {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 0;

}

.workouts-grid {
  margin-left: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 8px;
  padding-bottom: 8px;
}

.workout-actions{
  text-align: right;
}

.workout-actions a {
  padding-top: 1px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  text-decoration: none;

  color: rgb(20, 52, 80);
  margin-left: 5px;
  background-color: rgb(139, 141, 142);
  padding: 3px 5px;
  border-radius: 4px;
}

.workout-actions a:hover {
  background-color: rgb(57, 58, 58);
  color: rgb(191, 214, 235);
}
