.add-workout-parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-workout-div {
  display: flex;
  flex-direction: column;
  width: 800px;
  row-gap: 25px;
  background-color: rgb(239, 238, 238);
  padding: 65px 50px 75px;
  border-radius: 20px;
}

.add-workout-entries {
  display: flex;
  justify-content: space-between;
}

.add-workout-text {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px;
  color: rgb(13, 13, 59);
}

.add-workout-entry,
.add-workout-entry-notes {
  height: 40px;
  flex: 1;
  margin-right: 20px;
  border-radius: 5px;
  border: solid;
  border-color: rgb(167, 165, 165);
  border-width: 2px;
}

.workout-entry-error{
  border-color: red;
}

.add-workout-entry-notes {
  flex: none;
  height: 45px;
}

.add-workout-button {
  width: 100px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgb(121, 200, 4);
  border-width: 1px;
  cursor: pointer;
}

.error-message {
  color: red;
}

.add-workout-button:hover {
  background-color: rgb(143, 236, 3);
}

.your-workout-text {
  font-size: 25px;
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid rgb(136, 136, 136);

  border-collapse: collapse;
  width: 800px;
  height: 40px;
  border-left: none;
  border-right: none;
  text-align: center;
}

table {
  margin-bottom: 50px;
}

th {
  background-color: rgb(205, 204, 204);
}

.workout-table-header,
.workout-table-entry {
  display: flex;
  justify-content: space-around;
  width: 800px;
  background-color: rgb(205, 204, 204);
  margin-top: 30px;
  border: 2px solid rgb(205, 204, 204);
}

.workout-table-entry {
  background-color: white;
  margin-top: -2px;
}

.table-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20px;
}